.highlight { background-color: yellow }

/* http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/ */
body { margin: 0 }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

#app {
	font-family: 'Titillium Web', sans-serif;
}

#search_container { 
	color: white;
	top: 0;
	height: 65px;
	background: black;
	width: 100%;
}

#sorting {
	padding-left: 20px;
	padding-top: 20px;
}

#search_container span { 
	font-weight: 100;
	padding-top: 50px;
	margin-left: 20px;
}

.package {
	z-index: 0;
	font-weight: 100;
	border-left: solid 4px grey;
	background: whitesmoke;
	border-bottom: solid 1px #DDD;
}

.title-container {
	vertical-align:top;
	display: inline-block;
	padding: 8px 0px 4px 10px;
}

.votes-downloads-container {
	padding: 0px 0 5px 10px;
	display: inline-block;
}

.data-container {
	padding: 15px;	
	margin: 0;
	background: #333;
	color: #BBB;
}

.group-container {
	font-size: 12px;
	text-transform: uppercase;
	color: #666;
	vertical-align:top;
	padding: 15px 0px 0 0;
	display: inline-block;
	width: 10%;
}

.description-container {
	color: #999;
	vertical-align:top;
	padding: 15px 10px 8px 0;
	display: inline-block;
	width: 50%;
}

.package:hover {
	background: white;
	border-left: solid 4px yellow;
}

.package a {
	z-index: 1;
	color: gray;
}

.package span {
	color: gray;
}

.package p {
	margin: 0;
}

.package ul {
	list-style: none;
}

.package h2 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.package strong {
	font-size: 8px;
	text-transform: uppercase;
}

.page-title {	
	float: left;
	padding: 18px 5px 5px 10px;
	font-size: 20px;	
}

.title-container {
	display: inline-block;	
	width: 25%;
}

.expand {
	float: right;
	background: gray;
}

.search {
	color: black;
	font-weight: 200;
	float: left;
	font-size: 20px;
	padding: 5px;
	margin: 10px;
 	width: 350px;
 	height: 30px;
}

.list {
	top: 65px;
	bottom: 0px;
}

body {
	margin: 0;
	padding: 0;
}
