.highlight { background-color: yellow }

/* http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/ */
body { margin: 0; } 
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

#app {
	font-family: 'Open Sans', sans-serif;
}

.overall-stat-container {
	width: 150px;
	display: inline-block;
}

.overall-stat-metric {
	font-weight: bold;
	
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0;
	font-size: 40px;
}

.overall-stat-title {
	font-color: grey;
	line-height: 10px;
	font-size: 13px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

#overall-stats-container {
	padding-top:0;
	padding-bottom: 0;
	text-align: center;
}

.user-data-inline {
	padding-bottom: 10px;	
	padding-right: 10px;
	display: inline-block;
	min-width: 100px;
}

.corner-data {
 display:block;
 float:right;
 padding-left: 10px;
}

#data i {
	opacity: 0.5;
}

#data {
	background: #222;
	padding: 40px;
}

#data_container h2 {
	padding-bottom: 20px;
	font-size: 30px;
}

.exit-data {
	opacity: 0.5;
}

.exit-data:hover {
	opacity: 1;
}

#data ul {
	padding: 0;
	padding-left: 5px;
	list-style-type: none;
}

.user-data {
	font-weight: normal;
}

.user-data span {
	display: block;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 10px;
	text-transform: uppercase;
}

#data_container a  {
	color: white;
	text-decoration: none;
}

#data_container a:hover {
	text-decoration: underline;
}

#data_container {
	display: none;
	z-index: 5;
	color: #CCC;
	padding: 100px;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(50,50,50,0.8);
	top: 0px;
}

#browse_container {
	top: 60px;
	right: 0px;
	bottom: 0px;
}

#browse_container a {
	text-decoration: none;
	color: #222;
}

#browse_container a:hover {
	text-decoration: underline;
}

#search_container {
	display: none;
	bottom: 0;
	top: 60px;
}

#home_container {
	display: none;
	bottom: 0;
	top: 60px;
	z-index: 5;
}

#home_inner_container {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	margin-top: auto;
	margin-bottom: auto;
	height: 300px;
	z-index: 5;
}

#home_inner_container h1 {
	font-size: 30px;
}

.stats_container { 
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
	max-width:1000px;
}

.stats_container h3 {
	color: #222;
	margin: 0;
	font-size: 25px;
	margin-top: 10px;
}

.stat-name {
	display: inline-block;
	width: 140px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.stat-metric {
	position: absolute;
	right: 0;
	display: inline-block;
	color: gray;
  font-weight: bold;
}

.stat { 
	width: 220px;
	display: inline-block;
	padding: 15px 20px 20px 0px;
  margin: 4px;
}

.stat ul {
	font-size: 11px;
  padding: 0;
	margin: 10px 0 0 0;
  list-style-type: none;
}

.stat li {
	position: relative;
	width: 100%;
	margin: 3px 0px;
	display: block;
	padding: 0;
}

.stats-title {	
	color: #444;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0;
	text-transform: capitalize;
	font-size: 16px;	
}

#inner_search_container { 
	color: #eee;
	top: 0;
	height:40px;
	background: #333;
	border-bottom: 1px solid red;
}

#sorting {
	font-size: 12px;
  padding-left: 20px;
	padding-top: 12px;
}

#inner_search_container span { 
	font-weight: 100;
	padding-top: 25px;
	margin-left: 20px;
}

h4 a {
	color: white;
}

.package {
	padding-top: 15px;
  padding-bottom:8px;
  z-index: 0;
	background: whitesmoke;
	border-bottom: solid 1px #DDD;
}

.title-container {
  vertical-align:top;
	display: inline-block;
  width: 20%;
  text-overflow: clip;
}

.votes-downloads-container {
	vertical-align: top;
  width: 18%;
  opacity: 0.65;
  font-size: 11px;
	display: inline-block;
  text-align: right;
}

.votes-downloads-container div {
  display: inline-block;
  width: 100px;
  padding-right: 10px;
  text-align: left;
}

.votes-downloads-container i {
  margin: 0px 20px; 
}

.data-container {
	padding: 15px;	
	margin: 10px 0 0 0;
	background: #333;
	color: #BBB;
}

textarea, input { outline: none; }

.data-container i {
	opacity: 0.3;
}

.group-container {
	font-size: 11px;
	color: #666;
	vertical-align:top;
	display: none;
}

.description-container {
  color: #999;
  padding-top: 2px;
	vertical-align:top;
	display: inline-block;
	width: 55%;
}

.package:hover {
	background: white;
}

.package a {
	z-index: 1;
	color: gray;
}

.showdeps {
	font-size: 11px;
  text-transform: uppercase;
  margin-top: 10px;
}

.title {
	padding: 10px 0px 8px 0;
}

.package span {
	color: gray;
}
.package a {
	text-decoration:none;
}

.package p {
	font-size: 13px;
  margin: 0;
}

.package ul {
	list-style: none;
}

.package h2 {
  text-shadow:0 2px 1px rgba(255,255,255,1);
  font-weight: 100;
	margin: 0 0 0 20px;
  font-size: 16px;
}

.deprecated {
	background: #DEDEDE;
	color: #555;
}

.package strong {
	font-size: 8px;
	text-transform: uppercase;
}

.loading_container {
  opacity: 0.8;
  font-size: 30px;
  line-height: 700px;
  text-align: center;
  vertical-align: middle;
   z-index: 100;
}

.page-title {	
	float: left;
	padding: 18px 5px 5px 10px;
	font-size: 20px;	
}

.title-container {
	display: inline-block;	
	width: 25%;
}

.expand {
	float: right;
	background: gray;
}

#nav_container {
	top: 0;
	height: 60px;
  text-align: center;
	background: black;
	color: green;
}

#nav_container a {
	text-decoration: none;
	padding-right: 40px;
	line-height: 60px;
	font-size: 18px;
	color: #BBB;	
}

#nav_container a:hover {
	color: white;
}

input:focus, textarea:focus {
	outline: none !important;
  background: #222;
}

.search {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
	color:white;
  background: #292929;
	float: left;
  border: 0;
	font-size: 14px;
	padding: 0px 0 0 20px;
 	width: 250px;
 	height: 100%;
}

.list {
 	top: 40px;
	bottom: 0px;
}

body {
	margin: 0;
	padding: 0;
}
